.right-content>.c-test-save {
    margin-top: 48px;
}
.right-content>.c-test-id, .c-test-target {
    display: block;
    width: 170px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 24px;
    list-style: none;
    clear: both;
    position: relative;
    height: auto;
}
.right-content>.c-test-id, .c-test-target {
    display: block;
    width: 170px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 24px;
    list-style: none;
    clear: both;
    position: relative;
}
.right-content>div>label {
    color: #858585;
    font-family: "微软雅黑";
    font-size: 12px;
}
.right-content>div>div {
    margin-top: 10px;
    background: #fff;
    height: 24px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
}
.c_nav_list-test, .c-test-save, .right-content>div>ul>li:hover {
    cursor: pointer;
}
.right-content>div>ul {
    position: absolute;
    top: 97px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: none;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px #cbcbcb;
    box-shadow: 0 0 9px 0px #cbcbcb;
    z-index: 999;
}
.right-content>div>div>em {
    font-style: normal;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #dcdde2;
    padding-left: 8px;
    line-height: 20px;
}
.right-content>div>div>i {
    width: 11px;
    height: 5px;
    display: block;
    float: right;
    background: url(../img/icon/list_jt.png) no-repeat;
    margin-top: 9px;
    margin-right: 7px;
}
.c-test-save {
    width: 170px;
    height: 24px;
    margin: 0 auto;
    border: 1px solid #33ccff;
    border-radius: 2px;
    color: #33ccff;
    font-family: "微软雅黑";
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    margin-top: 40px;
}
.c-test-save:hover {
    background: #33CCFF;
    color: #fff;
}
#test-main ul {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 99;
    top: 75px;
    left: 0px;
    padding: 0px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px #cbcbcb;
    box-shadow: 0 0 9px 0px #cbcbcb;
    width: 100%;
}
#test-main ul>li {
    text-align: left;
    color: #858585;
    font-family: "微软雅黑";
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #dcdde2;
    width: 168px;
    background: #fff;
    padding-left: 10px;
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    /*display: inherit;*/
}
#test-main ul>li:hover{
	background: #33CCFF;
	color: #FFFFFF;
	
}
.c-test-score{
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    height: 50px;
    width: 170px;
}
.c-test-score>label {
    text-align: left;
    color: rgb(133, 133, 133);
    font-family: 微软雅黑;
    font-size: 12px;
}
.c-test-score>input{
    color: rgb(133, 133, 133);
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    width: 170px;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 221, 226);
    border-image: initial;
    border-radius: 2px;
}
.c-test-score>p{
    margin: 0px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: red;
    display: none;
}
.load_test{
	color: #858585 !important;
}
#classification_score{
	width: 162px;
	padding-left: 8px;
}
.error_test{color:red;margin-top:12px;font-size:12px;display: none}
