.right-heads {
    width：232px;
    height: 48px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.right-heads>ul {
    width: 100%;
    height: 48px;
}

.right-heads>ul>li:first-child {
    width: 49.5%;
    border-right: 1px solid #e7e7eb;
}

.right-heads>ul>li {
    width: 50%;
    float: left;
    height: 48px;
    line-height: 48px;
    color: #858585;
    font-family: "微软雅黑";
    font-size: 12px;
    text-align: center;
}

.right-content>ul>li:first-child {
    margin-top: 0px;
}

.right-content>ul>li {
    margin-top: 24px;
    position: relative;
    height: 50px;
    clear: both;
}



.right-content>ul {
    display: block;
    width: 170px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 48px;
    list-style: none;
    clear: both;
}

.right-content>ul>li:first-child {
    margin-top: 0px;
}

designer-right.css:83 .right-content>ul>li {
    margin-top: 24px;
    position: relative;
}

.right-content>ul>li>label {
    text-align: left;
    color: #858585;
    font-family: "微软雅黑";
    font-size: 12px;
}

.right-content>ul>li>div {
    margin-top: 10px;
    background: #fff;
    height: 24px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
}

.right-content>ul>li>div>em {
    font-style: normal;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #dcdde2;
    padding-left: 8px;
    line-height: 20px;
}

.right-content>ul>li>div>i {
    width: 11px;
    height: 5px;
    display: block;
    float: right;
    background: url(../../img/icon/list_jt.png) no-repeat;
    margin-top: 9px;
    margin-right: 7px;
}

.right-content>ul>li>ul {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 0px;
    padding: 0px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px #cbcbcb;
    box-shadow: 0 0 9px 0px #cbcbcb;
}
.right-content>ul>li>ul {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 0px;
    padding: 0px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px #cbcbcb;
    box-shadow: 0 0 9px 0px #cbcbcb;
}
.right-content>ul>div{
    width: 170px;
    height: 24px;
    border: 1px solid #33ccff;
    border-radius: 2px;
    color: #33ccff;
    font-family: "微软雅黑";
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 90px;
}
.right-content>ul>div:hover {
    background: #33CCFF;
    color: #fff;
    cursor: pointer;
}
.right-content>ul>li>input {
    color: rgb(133, 133, 133);
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    width: 170px;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 221, 226);
    border-image: initial;
    border-radius: 2px;
}
.c_miss_learn_add{
    min-height: 85px !important;
    height: auto !important;
}
.c-learn-newadd {
    width: 170px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 12px;
    color: rgb(51, 204, 255);
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(51, 204, 255) !important;
    border-image: initial !important;
}
.right-content > ul > li > p {
    color: rgb(192, 192, 192);
    font-size: 10px;
    font-family: 微软雅黑;
}
.right-content > ul > li > p > span {
    color: rgb(133, 133, 133);
    font-family: 微软雅黑;
    font-size: 10px;
}
.right-content > ul > li > span {
    color: rgb(133, 133, 133);
    font-size: 12px;
    font-family: 微软雅黑;
}
.c-learn-newadd:hover {
    background: #33CCFF;
    color: #fff;
    cursor: pointer;
}
.c-learn-miss>input {
    border: none;
    outline: none;
    width: 140px;
    height: 22px;
}
.right-content>ul>li>div>.c-add-close {
    width: 18px;
    height: 18px;
    display: block;
    float: right;
    background: url(../../img/icon/learn-right-close.png) no-repeat;
    margin-top: 2px;
    margin-right: 3px;
}
.right-content>ul>li>div>.c-add-close:hover {
    cursor: pointer;
    background: url(../../img/icon/learn-right-close-hover.png) no-repeat;
}
.right-content>ul>li>ul>li {
    width: 159px;
    height: 24px;
    border-bottom: 1px solid #dcdde2;
    background: #fff;
    text-align: left;
    padding-left: 10px;
    line-height: 24px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #858585;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.right-content>ul>li>ul>li:hover {
    cursor: pointer;
    background: #33ccff;
    color: #fff;
}
.metric-css{
    width: 70px;
    height: 15px;
    float: left;
    cursor: pointer;
}
.metric-css>i{
    width: 15px;
    height: 15px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    background: #fff;
}
.metric-css>span{
    font-size: 12px;
    color: #858585;
    font-family: "微软雅黑";
    text-indent: 10px;
    display: inline-block;
}
.c_nav_list_metric{
    margin-top: 0px !important;
    background: #fff;
    height: 24px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    float: left;
    clear: both;
    width: 168px;
    margin-bottom: 20px;  
}
.metric-i-active{
    background: url(../../img/pic_checkbox.png) !important;
}
.discre{
    height: 15px !important;
}
.discre>i{    
    width: 15px;
    height: 15px;
    border: 1px solid #dcdde2;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    background: #fff;
    margin-left: 87px;
}